.form
  position: relative
  background-color: #ffffff
  border-radius: 25px
  padding-top: 28px
  padding-bottom: 28px
  max-width: 375px
  margin: 0 auto
  margin-bottom: 105px
  &::after, &::before
    content: ''
    position: absolute
    z-index: -1
    bottom: -15px
    left: calc(50% - 159px)
    width: 318px
    height: 200px
    background-color: #ffffff
    opacity: 0.4
    border-radius: 25px
  &::before
    width: 254px
    left: calc(50% - 127px)
    bottom: -30px
  &__title
    font-family: $KAHeavy
    font-size: 3.2rem
    line-height: 4.2rem
    margin-bottom: 24px
    padding-top: 22px
  &__item
    fieldset
      border: none
  &__steps
    font-family: $KAMedium
    font-size: 1.2rem
    color: rgba(0, 0, 0, 0.4)
    margin-bottom: 13px
    padding-left: 10px
  &__description
    font-family: $KAMedium
    font-size: 1.2rem
    line-height: 1.8rem
    color: #000000
    margin-bottom: 34px
    padding-left: 10px
  &__wrapper
    border: 1px solid #EFEFEF
    border-radius: 24px
    transition: all 0.2s ease-out
    margin-bottom: 10px
    &.active
      border-color: #4C79C9
      transition: all 0.2s ease-out
    &:focus-within
      border-color: #4C79C9
      transition: all 0.2s ease-out
    &:focus-within:invalid
      transition: all 0.2s ease-out
    &:focus-within:valid
      border-color: #4C79C9 
      transition: all 0.2s ease-out
  &__input
    position: relative
    width: 100%
    height: 60px
    padding-top: 28px
    padding-right: 20px
    padding-bottom: 20px
    padding-left: 20px
    background: none
    box-shadow: none
    border: none
    font-family: $KARegular
    font-size: 1.4rem
    color: #000000
    outline: none
    background-repeat: no-repeat
    background-position: right 2rem center
    background-size: 1.75rem
    &::-webkit-input-placeholder 
      color: rgba(0, 0, 0, 0.4) 
    &--top
      border-bottom: 1px solid #EFEFEF
    &:focus::-webkit-input-placeholder 
      color: transparent
    &:focus::-moz-placeholder 
      color: transparent
    &:focus:-moz-placeholder  
      color: transparent
    &:focus:-ms-input-placeholder 
      color: transparent

  &__error
    padding-left: 20px
    font-family: $KARegular 
    font-style: italic
    font-size: 1rem
    line-height: 1.8rem
    color: #4C79C9
    display: none
    transition: all 0.2s ease-out
    p
      margin-bottom: 10px
  
    
  &__example
    padding-left: 20px
    font-family: $KARegular 
    font-size: 1rem
    line-height: 1.8rem
    color: rgba(0, 0, 0, 0.4)
    margin-bottom: 10px
    
  &__button
    width: 100%
    border: none
    text-align: center
    padding-top: 17px
    padding-bottom: 18px
    padding-left: 20px
    padding-right: 20px
    border-radius: 20px
    margin-top: 19px
    background-color: #6894DF
    color: #ffffff
    font-size: 1.4rem
    font-family: $KABlack
    text-transform: uppercase
    cursor: pointer
    outline: none
    transition: all 0.2s ease-out
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:disabled
      background-color: #9b9b9b
      transition: all 0.2s ease-out
      cursor: default
      &:hover
        background-color: #9b9b9b
        transition: all 0.2s ease-out
    &:hover
      transition: all 0.2s ease-out
      background-color: #3b77df
    &:active
      background-color: #346cce
      transition: all 0.1s ease-out
  &__notice
    background-color: rgba(58, 211, 135, 0.1)
    border-radius: 20px
    padding-top: 18px
    padding-bottom: 24px
    padding-left: 20px
    padding-right: 24px
    margin-bottom: 10px
    font-size: 1.4rem
    line-height: 2rem
    font-family: $KAHeavy
    &--highlight
      color: #3AD387
  &__note
    font-size: 1.2rem
    line-height: 1.8rem
    color: #000000
    font-family: $KAMedium
    margin-bottom: 52px
    padding-left: 8px
  &__gratitude
    font-size: 2rem
    line-height: 2.2rem
    font-family: $caveatRegular
    margin-bottom: 13px
    padding-left: 7px
    p
      margin-bottom: 21px
  &__social
    display: flex
    padding-left: 8px
    &--item
      margin-right: 42px
  &__second
    .form__description
      margin-bottom: 47px
    .form__button
      margin-top: 14px
  &__third
    padding-bottom: 55px 
    .form__title
      padding-top: 18px
      padding-left: 8px
      margin-bottom: 22px

