@font-face
  font-family: "Caveat-Regular"
  src: url("../fonts/Caveat-Regular.ttf") format("truetype")
  font-weight: normal
  font-display: normal
@font-face
  font-family: "HelveticaRegular"
  src: url("../fonts/HelveticaRegular.ttf") format("truetype")
  font-weight: normal
  font-display: normal
@font-face
  font-family: "KastelovAxiformaHeavy"
  src: url('../fonts/KastelovAxiformaHeavy.woff') format('woff'),
  url('../fonts/KastelovAxiformaHeavy.woff2') format('woff2'),url("../fonts/Caveat-Regular.ttf") format("truetype")
  font-weight: 700
  font-display: normal
@font-face
  font-family: "KastelovAxiformaItalic"
  src: url('../fonts/KastelovAxiformaItalic.woff') format('woff'),
  url('../fonts/KastelovAxiformaItalic.woff2') format('woff2'),url("../fonts/KastelovAxiformaItalic.ttf") format("truetype")
  font-weight: normal
  font-display: normal
@font-face
  font-family: "KastelovAxiformaMedium"
  src: url('../fonts/KastelovAxiformaMediuml.woff') format('woff'),
  url('../fonts/KastelovAxiformaMedium.woff2') format('woff2'),url("../fonts/KastelovAxiformaMedium.ttf") format("truetype")
  font-weight: normal
  font-display: normal
@font-face
  font-family: "KastelovAxiformaRegular"
  src: url('../fonts/KastelovAxiformaRegular.woff') format('woff'),
  url('../fonts/KastelovAxiformaRegular.woff2') format('woff2'),url("../fonts/KastelovAxiformaRegular.ttf") format("truetype")
  font-weight: normal
  font-display: normal
@font-face
  font-family: "KastelovAxiformaSemiBold"
  src: url('../fonts/KastelovAxiformaSemiBold.woff') format('woff'),
  url('../fonts/KastelovAxiformaSemiBold.woff2') format('woff2'),url("../fonts/KastelovAxiformaSemiBold.ttf") format("truetype")
  font-weight: normal
  font-display: normal
@font-face
  font-family: "KastelovAxiformaBlack"
  src: url('../fonts/KastelovAxiformaBlack.woff') format('woff'),
  url('../fonts/KastelovAxiformaBlack.woff2') format('woff2'),url("../fonts/KastelovAxiformaBlack.ttf") format("truetype")
  font-weight: normal
  font-display: normal


$caveatRegular: "Caveat-Regular", "Arial", sans-serif
$helveticaRegular: "HelveticaRegular", "Arial", sans-serif
$KAHeavy: "KastelovAxiformaHeavy", "Arial", sans-serif
$KAItalic: "KastelovAxiformaItalic", "Arial", sans-serif
$KAMedium: "KastelovAxiformaMedium", "Arial", sans-serif
$KARegular: "KastelovAxiformaRegular", "Arial", sans-serif
$KASemiBold: "KastelovAxiformaSemiBold", "Arial", sans-serif
$KABlack: "KastelovAxiformaBlack", "Arial", sans-serif
