<section class="catalog__header">
  <h1 class="catalog__title">Наши номера</h1>
  <div class="catalog__sort">
    <button type="button" class="catalog__sort--button"><img src="img/icon/sort_arrow.svg" alt=""></button>
    <fieldset data-filter-group data-logic="or" class="catalog__modal">
      <button type="button" data-sort="price:asc">По площади</button>
      <button type="button" data-sort="price:descending">По площади</button>
      <button type="button" data-sort="area:asc">По цене</button>
      <button type="button" data-sort="area:descending">По цене</button>
    </fieldset>
  </div>

</section>