<section class="catalog__wrapper">
  <template id="catalog__template">
    <div class="mix catalog__template--card">
      <div class="catalog__card card">
        <img class="card__img">
        <div class="card__description">
          <h4 class="card__title">
          </h4>
          <div class="card__info">
            <p class="card__param size"></p>
            <p class="card__param area"></p>
            <div class="card__param--equipment">
              <p class="card__param equipment">Оснащение номера</p>
            </div>
            <p class="card__param price">Цена за сутки: <span class="card__param--price"></span></p>
            <button class="card__button">Забронировать</button>
          </div>

        </div>
      </div>
    </div>
  </template>
  </div>
  <div class="gap"></div>
</section> <!-- cd-gallery -->