<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/" class="header__logo--link">
          <img src="img/icon/main_logo.svg" alt="Логотип Котейка">
        </a>
      </div>
      <nav class="header__nav">
        <a href="#" class="nav__item">
          Почему мы?
        </a>
        <a href="#" class="nav__item">
          Номера
        </a>
        <a href="#" class="nav__item">
          Отзывы
        </a>
        <a href="#" class="nav__item">
          Как нас найти
        </a>
      </nav>
    </div>
  </div>
</header>